<select ng-model="select" ng-change="rerun()">
    <option ng-repeat="(key,value) in queries.queries" value="{{value.name}}|{{value.value}}">
        Operation {{value.name}} for {{value.value}}
    </option>
</select><br>
<label>Input Email to find club and schools</label><br>
<input ng-model="kid.email" type="text"><br>
<label>Input Club to find Kids and schools</label><br>
<input ng-model="club.name" type="text"><br>
<button ng-click="get()">Submit</button>
<div class="results">
    <h2>Results</h2>
    <div ng-if="kid.email">
        <p>For Child {{kid.email}}</p>
        <h2>Clubs</h2>
        <ul>
            <li ng-repeat="(key,value) in kid.clubs">
                {{value.name}}
            </li>
        </ul>
        <h2>Schools</h2>
        <ul>
            <li ng-repeat="(key,value) in kid.schools">
                {{value.name}}
            </li>
        </ul>
    </div>
    <div ng-if="club.name">
        <p>For club {{club.name}}</p>
        <h2>Kids</h2>
        <ul>
            <li ng-repeat="(key, value) in club.kids">
                {{value.name}}
            </li>
        </ul>
        <h2>Schools</h2>
        <ul>
            <li ng-repeat="(key,value) in club.schools">
                {{value.name}}
            </li>
        </ul>
    </div>
</div>